<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.first.demo.mapper.BoardMapper">

    <select id="getBoard" parameterType="int" resultType="com.first.demo.domain.Board">
    	<![CDATA[
		   SELECT LEVEL_COUNT
				, NUMBER
				, WRITER
				, SUBJECT
				, CONTENTS
				, CREATED
		   FROM (SELECT a.NUMBER
					  , a.WRITER 
		    		  , a.SUBJECT 
		    		  , a.CONTENTS 
		    		  , date_format(IFNULL(a.CREATED_UP, a.CREATED), '%Y-%m-%d %h:%m') AS CREATED
		              , ( @rank := @rank + 1) AS LEVEL_COUNT
				   FROM BOARD a, ( SELECT @rank := 0 ) AS b
				  ORDER BY IFNULL(a.CREATED_UP, a.CREATED) desc) M
		  WHERE LEVEL_COUNT BETWEEN (#{LIST_COUNT_INT}-1)*10+1 AND #{LIST_COUNT_INT}*10
	          ]]>
    </select>
    
    <select id="getBoard_Detail" parameterType="com.first.demo.domain.Board_Detail_Value" resultType="com.first.demo.domain.Board_Detail">
	    SELECT NUMBER
		     , WRITER
		     , ID 
		     , SUBJECT 
		     , CONTENTS 
		     , date_format(IFNULL(CREATED_UP, CREATED), '%Y-%m-%d %h:%m') AS CREATED
		  FROM BOARD
		 WHERE NUMBER = #{NUMBER}
    </select>
    
	<select id="getLogin_Find_Code" resultType="com.first.demo.domain.Login_Find_Code">
		SELECT FIND_CODE
			 , FIND_CODE_NM
		  FROM PASS_FIND
    </select>
    
    <select id="getUser_Info" parameterType="String" resultType="com.first.demo.domain.User_Info">
		SELECT ID
			 , PASSWORD
	         , WRITER
	         , FIND_CODE
	         , FIND_NM
	         , date_format(CREATED, '%Y-%m-%d %h:%m') AS CREATED
		  FROM USER_INFO
		 WHERE ID = #{ID}
    </select>
    
    <select id="getVail_Chk" parameterType="String" resultType="String">
	    SELECT COUNT(ID) AS COUNT
		  FROM USER_INFO
		 WHERE ID = #{ID}
    </select>
    
	<select id="getLogin_Chk" parameterType="String" resultType="String">
		SELECT COUNT(ID) AS COUNT
		  FROM USER_INFO
		 WHERE ID = #{ID}
		   AND PASSWORD = #{PASS}
	</select>
    
	<select id="getBoard_Count" resultType="com.first.demo.domain.Board_Count">
		<![CDATA[
			SELECT IF(count(NUMBER)/10 <= 1, 1, count(NUMBER)/10+1) as BOARD_COUNT
			FROM BOARD
		]]>
	</select>
	
	<insert id="setLogin_Add" parameterType="com.first.demo.domain.Login_Add">
    	INSERT INTO USER_INFO (ID, PASSWORD, WRITER, FIND_CODE, FIND_NM, CREATED)
		VALUE (#{ID}, #{PASSWORD}, #{WRITER}, #{FIND_CODE}, #{FIND_NM}, NOW())
	</insert>
    
    <insert id="setBorad_Add" parameterType="com.first.demo.domain.Board_Add">
    	INSERT INTO BOARD(WRITER, ID, SUBJECT, CONTENTS, CREATED) 
		VALUE (#{WRITER}, #{ID}, #{SUBJECT}, #{CONTENTS}, NOW())
    </insert>
    
    <update id="setUser_Upd" parameterType="com.first.demo.domain.User_Detail">
		UPDATE USER_INFO SET 
			   WRITER = #{WRITER}
			 , FIND_CODE = #{FIND_CODE}
		     , FIND_NM = #{FIND_NM}
		 WHERE ID = #{ID}
	</update>
    
    <update id="setBorad_Upd" parameterType="com.first.demo.domain.Board_Detail">
		UPDATE BOARD SET 
			   WRITER = #{WRITER}
			 , SUBJECT = #{SUBJECT}
		     , CONTENTS = #{CONTENTS}
		     , CREATED_UP = NOW()
		 WHERE NUMBER = #{NUMBER}
	</update>
	
	<delete id="setUser_Del" parameterType="String">
    	DELETE FROM USER_INFO
		WHERE ID = #{ID}
    </delete>
    
	<delete id="setUser_Borad_Del" parameterType="String">
    	DELETE FROM BOARD
		WHERE ID = #{ID}
    </delete>
    
    <delete id="setBorad_Del" parameterType="com.first.demo.domain.Board_Detail_Value">
    	DELETE FROM BOARD
		WHERE NUMBER = #{NUMBER}
    </delete>
    
</mapper>